.recepta {
  margin-top: 2em;
}
.llista {
  display: flex;
  margin-top: 1em;
}

.fila01 {
  flex-basis: 20%;
  padding-right: 2em;
  border-right: 1px solid #fff;
}

.fila03 p {
  margin-left: 2em;
  margin-bottom: 1em;
}